.faq-search-box {
    background-color: #ddd;
    -webkit-box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    -moz-box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    margin-top: 2em;
    margin-bottom: 3em;
    line-height: 5em;
    position: relative;
}

label.faq-search {
    font-size: 18px;
    color: #888;
    float: left;
}

.faq-search-field {
    width: 70%;
    height: 50px;
    background-color: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline;
    float: right;
    margin-top: 10px;
}

.faq-search-field input {
    font-size: 16px;
    width: 85%;
    position: relative;
    line-height: 2em;
    top: -8px;
    left: 10px;
    border: 0 none;
    padding-left: 5px;
}

.faq-search-field img {
    margin-left: 12px;
}

.faq-questions h2 {
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin: 0 20px 0 90px;
    padding-top: 16px;
}

.faq-questions .odd {
    background-color: rgb(1, 172, 200);
}

.faq-questions .odd:after {
    display: inline;
    position: relative;
    width: 32px;
    height: 13px;
    top: 17px;
    left: 45px;
    z-index: 4;
    content: url("./faq-question-darkblue.png");
}

.faq-questions .even {
    background-color: rgb(18, 192, 216);
}

.faq-questions .even:after {
    display: inline;
    position: relative;
    width: 32px;
    height: 13px;
    top: 17px;
    left: 45px;
    z-index: 2;
    content: url("./faq-question-lightblue.png");
}

.question-head a {
    text-decoration: none;
    color: white;
}

.question-body {
    display: none;
    margin-left: 90px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.faq-ask-question {
    background-color: #ddd;
    -webkit-box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    -moz-box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    box-shadow: 0px 0px 12px rgba(90, 90, 90, 0.3);
    margin-top: 3em;
    margin-bottom: 3em;
}

.faq-ask-question h2 {
    text-transform: none;
    font-weight: bold;
    margin-top: 10px;
    color: #888;
}

.faq-form {
    border: 0px none;
    margin: 0;
    padding: 0;
}

.faq-form label {
    float: left;
    width: 100px;
    padding-top: 15px;
    text-align: left;
    color: #00AEC7;
    font-size: 16px;
}

.faq-form input[type=text] {
    height: 35px;
    width: 450px;
    padding: 0;
    padding-left: 8px;
    border: 0 none;
    background-color: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.faq-form textarea {
    resize: none;
    width: 450px;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline;
    font-size: 14px;
    padding: 8px;
}

.faq-form-button {
    float: right;
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #AAA;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.faq-form-button:hover {
    border: 1px solid #333;
}